@import './base.css';

html, body {
  overflow-x: hidden;
}

/* Redéfinir les styles globaux pour les titres */
h1, h2 {
  font-family: var(--brp-font), 'Georgia', serif;
}

h3, h4, h5, h6 {
  font-family: var(--antarctica-semibold), 'Georgia', serif;
}

body {
  font-family: var(--antarctica-light), Arial, sans-serif;;
  background-color: var(--whitesmoke);
  color: var(--woodsmoke);
  font-size: 1rem;
}

h1 {
font-size: 5.375rem;
} 

h2 {
font-size: 3rem;
}

h3 {
font-size: 2rem;
}

h4 {
font-size: 1.5rem;
}

img {
  display: block; /* Évite les espaces blancs sous les images */
  width: 100vw; /* Force l'image à occuper 100% de la largeur de la fenêtre */
  height: auto; /* Respecte le ratio d'aspect */
}

.legend {
  font-size: 0.75rem;
}

img {
  display: block; /* Évite les espaces blancs sous les images */
  width: 100vw; /* Force l'image à occuper 100% de la largeur de la fenêtre */
  height: auto; /* Respecte le ratio d'aspect */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4.8rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.1rem;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}